@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
.logo { color: #000000; cursor: pointer; font-size: 50px; font-family: 'Poppins', sans-serif; }

body { height: 1200px; margin : 30px 0px 0px 0px; }

#box{
	 position: relative;
	 height: auto;
	 margin: auto;
}
#top{
	height: 100px;
	margin: 20px;
	position: relative;
}
#topLine{
	background-color : black;
	height: 2px;
	position: relative;
}
#left{
	float: left;
	height: 900px;
	width: 400px;
	position: relative;
}
#leftLine{
	background-color : black;
	float: left;
	height: 820px;
	width: 1%;
	position: relative;
}
#main{
	color : black;
	height: 750px;
	margin: 20px;
	position: relative;
}
#main2{
	color : black;
	height: 750px;
	position: relative;
	/* 이미지 3단 나열. */
	max-width: 800px; max-height: 750px; margin: 30px; display: flex; flex-wrap: wrap;
}
#mainSub{
	float: bottom;
	height : 70px;
	width: 74%;
	position : relative;
}
#bottom{
	height: 70px;
	width: 1500px;
	position: relative;	
	clear: both;
	text-align: center;
}
tr {
	FONT-SIZE: 11pt; COLOR: black; LINE-HEIGHT: 10px;; FONT-FAMILY: 맑은 고딕,verdana,tahoma; border: 1px solid #77878F; padding: 5px; margin: 0px;
}
td {
	FONT-SIZE: 11pt; COLOR: black; LINE-HEIGHT: 30px; FONT-FAMILY: 맑은 고딕,verdana,tahoma; border: 1px solid #77878F; padding: 5px; margin: 0px;
}
h1 {
	color: black;
}
.container { max-width: 700px; max-height: 1000px; margin: 0px; }